{% comment %} Right-hand section navigation. On the home page these
   filter the grid; on other pages they link back home with a hash. {% endcomment %}
<nav class="nav" aria-label="Sections">
  <a href="{{ '/' | relative_url }}#all"        class="nav__link" data-filter="all">All posts</a>
  {% for s in site.sections %}
  <a href="{{ '/' | relative_url }}#{{ s.key }}" class="nav__link" data-filter="{{ s.key }}">{{ s.full }}</a>
  {% endfor %}
  <a href="{{ '/about/' | relative_url }}"       class="nav__link">About</a>
</nav>
